# Python
__pycache__/
*.pyc

# Virtual environments
env/
venv/
.venv/
*.env

# OS files
.DS_Store

# Embedding models (if any)
sentence-transformers/

# Checkpoints
checkpoints/

# Results and plots
results/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Conda environments
*.yaml